<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>TerminalDoc</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>NSDocumentClass</key>
                <string>TerminalWindow</string>
            </dict>
        </array>
        <key>CFBundleExecutable</key>
        <string>fvterm</string>
        <key>CFBundleIconFile</key>
        <string>fvterm.icns</string>
        <key>CFBundleIdentifier</key>
        <string>net.woofle.fvterm</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>fvterm</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>0.1 (devel)</string>
        <key>NSMainNibFile</key>
        <string>MainMenu</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
    </dict>
</plist>
