<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixed13</key>
	<dict>
		<key>brightbold</key>
		<true/>
		<key>height</key>
		<integer>13</integer>
		<key>pages</key>
		<dict>
			<key>000</key>
			<string>fixed13-r-00</string>
			<key>001</key>
			<string>fixed13-r-01</string>
			<key>002</key>
			<string>fixed13-r-02</string>
			<key>004</key>
			<string>fixed13-r-04</string>
			<key>024</key>
			<string>fixed13-r-24</string>
			<key>025</key>
			<string>fixed13-r-25</string>
			<key>100</key>
			<string>fixed13-b-00</string>
			<key>101</key>
			<string>fixed13-b-01</string>
		</dict>
		<key>width</key>
		<integer>6</integer>
		<key>baseline</key>
		<integer>0</integer>
		<key>midline</key>
		<integer>6</integer>
	</dict>
	<key>monaco12</key>
	<dict>
		<key>brightbold</key>
		<true/>
		<key>height</key>
		<integer>12</integer>
		<key>pages</key>
		<dict>
			<key>000</key>
			<string>monaco12-r-00</string>
		</dict>
		<key>width</key>
		<integer>6</integer>
		<key>baseline</key>
		<integer>1</integer>
		<key>midline</key>
		<integer>6</integer>
	</dict>
	<key>terminus16</key>
	<dict>
		<key>brightbold</key>
		<true/>
		<key>height</key>
		<integer>16</integer>
		<key>pages</key>
		<dict>
			<key>000</key>
			<string>terminus16-r-00</string>
			<key>001</key>
			<string>terminus16-r-01</string>
			<key>002</key>
			<string>terminus16-r-02</string>
			<key>003</key>
			<string>terminus16-r-03</string>
			<key>004</key>
			<string>terminus16-r-04</string>
			<key>01e</key>
			<string>terminus16-r-1e</string>
			<key>020</key>
			<string>terminus16-r-20</string>
			<key>021</key>
			<string>terminus16-r-21</string>
			<key>022</key>
			<string>terminus16-r-22</string>
			<key>023</key>
			<string>terminus16-r-23</string>
			<key>024</key>
			<string>terminus16-r-24</string>
			<key>025</key>
			<string>terminus16-r-25</string>
			<key>026</key>
			<string>terminus16-r-26</string>
			<key>0f6</key>
			<string>terminus16-r-f6</string>
			<key>0ff</key>
			<string>terminus16-r-ff</string>
			<key>100</key>
			<string>terminus16-b-00</string>
			<key>101</key>
			<string>terminus16-b-01</string>
			<key>102</key>
			<string>terminus16-b-02</string>
			<key>103</key>
			<string>terminus16-b-03</string>
			<key>104</key>
			<string>terminus16-b-04</string>
			<key>11e</key>
			<string>terminus16-b-1e</string>
			<key>120</key>
			<string>terminus16-b-20</string>
			<key>121</key>
			<string>terminus16-b-21</string>
			<key>122</key>
			<string>terminus16-b-22</string>
			<key>123</key>
			<string>terminus16-b-23</string>
			<key>124</key>
			<string>terminus16-b-24</string>
			<key>125</key>
			<string>terminus16-b-25</string>
			<key>126</key>
			<string>terminus16-b-26</string>
			<key>1f6</key>
			<string>terminus16-b-f6</string>
			<key>1ff</key>
			<string>terminus16-b-ff</string>
		</dict>
		<key>width</key>
		<integer>8</integer>
		<key>baseline</key>
		<integer>2</integer>
		<key>midline</key>
		<integer>8</integer>
	</dict>
	<key>terminus32</key>
	<dict>
		<key>brightbold</key>
		<true/>
		<key>height</key>
		<integer>32</integer>
		<key>pages</key>
		<dict>
			<key>000</key>
			<string>terminus32-r-00</string>
			<key>001</key>
			<string>terminus32-r-01</string>
			<key>002</key>
			<string>terminus32-r-02</string>
			<key>003</key>
			<string>terminus32-r-03</string>
			<key>004</key>
			<string>terminus32-r-04</string>
			<key>01e</key>
			<string>terminus32-r-1e</string>
			<key>020</key>
			<string>terminus32-r-20</string>
			<key>021</key>
			<string>terminus32-r-21</string>
			<key>022</key>
			<string>terminus32-r-22</string>
			<key>023</key>
			<string>terminus32-r-23</string>
			<key>024</key>
			<string>terminus32-r-24</string>
			<key>025</key>
			<string>terminus32-r-25</string>
			<key>026</key>
			<string>terminus32-r-26</string>
			<key>0f6</key>
			<string>terminus32-r-f6</string>
			<key>0ff</key>
			<string>terminus32-r-ff</string>
			<key>100</key>
			<string>terminus32-b-00</string>
			<key>101</key>
			<string>terminus32-b-01</string>
			<key>102</key>
			<string>terminus32-b-02</string>
			<key>103</key>
			<string>terminus32-b-03</string>
			<key>104</key>
			<string>terminus32-b-04</string>
			<key>11e</key>
			<string>terminus32-b-1e</string>
			<key>120</key>
			<string>terminus32-b-20</string>
			<key>121</key>
			<string>terminus32-b-21</string>
			<key>122</key>
			<string>terminus32-b-22</string>
			<key>123</key>
			<string>terminus32-b-23</string>
			<key>124</key>
			<string>terminus32-b-24</string>
			<key>125</key>
			<string>terminus32-b-25</string>
			<key>126</key>
			<string>terminus32-b-26</string>
			<key>1f6</key>
			<string>terminus32-b-f6</string>
			<key>1ff</key>
			<string>terminus32-b-ff</string>
		</dict>
		<key>width</key>
		<integer>16</integer>
		<key>baseline</key>
		<integer>4</integer>
		<key>midline</key>
		<integer>16</integer>
	</dict>
	<key>vga16</key>
	<dict>
		<key>brightbold</key>
		<true/>
		<key>height</key>
		<integer>16</integer>
		<key>pages</key>
		<dict>
			<key>000</key>
			<string>vga16-r-00</string>
		</dict>
		<key>width</key>
		<integer>8</integer>
		<key>baseline</key>
		<integer>2</integer>
		<key>midline</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
